<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= job.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= job.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= job.skills %>
  </p>

  <p>
    <strong>Recruiter:</strong>
    <%= job.recruiter_id_id %>
  </p>

</div>
